
@{
    Layout = "_Layout";

    ViewData["Title"] = "Index";
}


<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">المزايا</h1>
                    <ul class="breadcrumb-nav">
                        <li style="padding-left: 8px;"><a asp-controller="Home" asp-action="Index"> الرئيسية</a></li>
                        <li>المزايا</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start About Area -->
<section class="about section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="image wow fadeInLeft" data-wow-delay=".2s">
                    <img src="assets/images/about/Untitled-3.jpg" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="content wow fadeInRight" data-wow-delay=".4s">
                    <h4 style="font-size: 20px;"><strong>المزايا</strong></h4>
                    <h2>مالذي يميزنا عن غيرنا ؟</h2>
                    <p><strong>تتميز مهمتك بجملة من الخصال الحميدة التي تضيف للمنصة نفوذ أقوى وأوسع، وتجعل منها الرائدة السباقة في هذا المجال والتي نقدمها لكم مستخدمينا الكرام في المربع أدنى</strong></p>
                    <div class="list">
                        <div class="single-list">
                            <div class="list-icon">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <h4>الإبداع</h4>
                            <p style="font-size: 13px;"><strong>نلتزم أمام عملائنا الكرام بتقديم حلول إبداعية فيما يخص مجال الخدمات والاستشارات التعليمية</strong></p>
                        </div>
                        <div class="single-list">
                            <div class="list-icon">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <h4>الثقة</h4>
                            <p style="font-size: 13px;"><strong>نقوم ببناء علاقة ثقة طويلة الأمد مع عملائنا الكرام</strong></p>
                        </div>
                        <div class="single-list">
                            <div class="list-icon">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <h4>الالتزام</h4>
                            <p style="font-size: 13px;"><strong>عميلنا الكريم نضعه في المرتبة الأولى لدينا ونلتزم أمامه بكل ما اتفقنا عليه سوء الوقت أو دقة العمل</strong></p>
                        </div>
                        <div class="single-list">
                            <div class="list-icon">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <h4>التميز</h4>
                            <p style="font-size: 13px;"><strong>أهم ما يميزنا أن لدينا فريق عمل أكاديمي محترف يلبي طلبات واحتياجات عملائنا الكرام.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<div>
    <hr>
</div>

