@model MajorUpdateDto


@{
    Layout = "_sidebar";
}
<main id="main" dir="ltr" class="main">

    <div class="wrapper wrapper-content" dir="rtl">
        <div class="container">
            <h3>تعديل تخصص جديد</h3>

        </div>
        <form method="post" asp-action="UpdateMajor" asp-controller="Majors">

            <div class="form-group">
                <label>اسم التخصص</label>
                <input type="text" class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label>ملاحظات</label>
                <input type="text" class="form-control" asp-for="Notes" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>تاريخ</label>
                <input type="text" class="form-control" asp-for="EnterdDate" hidden value="@DateTime.Now" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" value="update major" class="btn btn-primary"> تعديل</button>
                @*<button type="submit" value="all majors" class="btn btn-primary"> كافة التخصصات</button>*@
            </div>
        </form>
    </div>


</main>
